set_io clk FBIO_0
set_io enable FBIO_1

set_io set FBIO_2
set_io comb_out FBIO_3

set_io count(0) FBIO_5
set_io count(1) FBIO_6
set_io count(2) FBIO_7
set_io count(3) FBIO_8
set_io count(4) FBIO_9
set_io count(5) FBIO_10
set_io count(6) FBIO_11
set_io count(7) FBIO_12
set_io count(8) FBIO_13
set_io count(9) FBIO_14
set_io count(10) FBIO_15
set_io count(11) FBIO_16
set_io count(12) FBIO_17
set_io count(13) FBIO_18
set_io count(14) FBIO_19
set_io count(15) FBIO_20
set_io count(16) FBIO_21
set_io count(17) FBIO_22
set_io count(18) FBIO_23
set_io count(19) FBIO_24
set_io count(20) FBIO_25
set_io count(21) FBIO_26
set_io count(22) FBIO_27
set_io count(23) FBIO_28
set_io count(24) FBIO_29
set_io count(25) FBIO_30
set_io count(26) SFBIO_0
set_io count(27) SFBIO_1
set_io count(28) SFBIO_2
set_io count(29) SFBIO_3
set_io count(30) SFBIO_4
set_io count(31) SFBIO_5
