set_io prod[0] user_OUT_R[0]
set_io prod[1] user_OUT_R[1]
set_io prod[2] user_OUT_R[2]
set_io prod[3] user_OUT_R[3]
set_io prod[4] user_OUT_R[4]
set_io prod[5] user_OUT_R[5]
set_io prod[6] user_OUT_R[6]
set_io prod[7] user_OUT_R[7]
set_io prod[8] user_OUT_R[8]
set_io prod[9] user_OUT_R[9]
set_io prod[10] user_OUT_R[10]
set_io prod[11] user_OUT_R[11]
set_io prod[12] user_OUT_R[12]
set_io prod[13] user_OUT_R[13]
set_io prod[14] user_OUT_R[14]
set_io prod[15] user_OUT_R[15]
set_io a_in[0] user_IN_B[0]
set_io b_in[0] user_IN_R[0]
set_io a_in[1] user_IN_B[1]
set_io b_in[1] user_IN_R[1]
set_io a_in[2] user_IN_B[2]
set_io b_in[2] user_IN_R[2]
set_io a_in[3] user_IN_B[3]
set_io b_in[3] user_IN_R[3]
set_io a_in[4] user_IN_B[4]
set_io b_in[4] user_IN_R[4]
set_io a_in[5] user_IN_B[5]
set_io b_in[5] user_IN_R[5]
set_io a_in[6] user_IN_B[6]
set_io b_in[6] user_IN_R[6]
set_io a_in[7] user_IN_B[7]
set_io b_in[7] user_IN_R[7]
