set_io GPIO_PIN[7] G6
set_io GPIO_PIN[6] G4
set_io GPIO_PIN[5] H5
set_io GPIO_PIN[4] F6
set_io GPIO_PIN[3] F7
set_io GPIO_PIN[2] G7
set_io GPIO_PIN[1] H7
set_io GPIO_PIN[0] E8
set_io I2C_SDA C1
set_io I2C_SCL B1
set_io CLK_4MHZ_OUT H1
set_io CLK_1MHZ_OUT F1