set_io GPIO_PIN[31] G4
set_io GPIO_PIN[30] F4
set_io GPIO_PIN[29] F5
set_io GPIO_PIN[28] G5
set_io GPIO_PIN[27] H5
set_io GPIO_PIN[26] F6
set_io GPIO_PIN[25] F7
set_io GPIO_PIN[24] G6
set_io GPIO_PIN[23] H6
set_io GPIO_PIN[22] G7
set_io GPIO_PIN[21] H7
set_io GPIO_PIN[20] G8
set_io GPIO_PIN[19] H8
set_io GPIO_PIN[18] E8
set_io GPIO_PIN[17] D7
set_io GPIO_PIN[16] E7
set_io GPIO_PIN[15] C6
set_io GPIO_PIN[14] A5
set_io GPIO_PIN[13] D6
set_io GPIO_PIN[12] B5
set_io GPIO_PIN[11] C5
set_io GPIO_PIN[10] A4
set_io GPIO_PIN[9] B4
set_io GPIO_PIN[8] C4
set_io GPIO_PIN[7] A3
set_io GPIO_PIN[6] B3
set_io GPIO_PIN[5] C3
set_io GPIO_PIN[4] B2
set_io GPIO_PIN[3] A2
set_io GPIO_PIN[2] A1
set_io GPIO_PIN[1] C1
set_io GPIO_PIN[0] B1
set_io GPIO_PIN[45] G1
set_io GPIO_PIN[44] E1
set_io GPIO_PIN[43] D1
set_io GPIO_PIN[42] H1
set_io GPIO_PIN[41] F1
set_io GPIO_PIN[40] D2
set_io GPIO_PIN[39] H2
set_io GPIO_PIN[38] E2
set_io GPIO_PIN[37] G2
set_io GPIO_PIN[36] H3
set_io GPIO_PIN[35] F2
set_io GPIO_PIN[34] F3
set_io GPIO_PIN[33] E3
set_io GPIO_PIN[32] H4
