merged*.xml
*.deps.mk
rr_graph*.xml
*.pdf
sim.svg
sim.json
sim.png
sim.*.png
tests/build
push.sh
artix7/arch/xc7a50t-roi-virt/dummy/*.xml
artix7/primitives/slice-l/*/pb_type.*.xml
artix7/primitives/slice-l/*/sim.*.v
