[submodule "third_party/netlistsvg"]
	path = third_party/netlistsvg
	url = https://github.com/nturley/netlistsvg.git
[submodule "third_party/prjxray"]
	path = third_party/prjxray
	url = https://github.com/SymbiFlow/prjxray.git
[submodule "third_party/prjxray-db"]
	path = third_party/prjxray-db
	url = https://github.com/SymbiFlow/prjxray-db.git
[submodule "third_party/icestorm"]
	path = third_party/icestorm
	url = https://github.com/cliffordwolf/icestorm.git
[submodule "third_party/fasm"]
	path = third_party/fasm
	url = https://github.com/SymbiFlow/fasm.git
[submodule "third_party/symbiyosys"]
	path = third_party/symbiyosys
	url = https://github.com/YosysHQ/SymbiYosys.git
[submodule "third_party/python-sdf-timing"]
	path = third_party/python-sdf-timing
	url = https://github.com/SymbiFlow/python-sdf-timing.git
[submodule "third_party/vtr-xml-utils"]
	path = third_party/vtr-xml-utils
	url = https://github.com/SymbiFlow/vtr-xml-utils.git
[submodule "python-symbiflow-v2x"]
	path = third_party/python-symbiflow-v2x
	url = https://github.com/SymbiFlow/python-symbiflow-v2x.git
[submodule "third_party/make-env"]
	path = third_party/make-env
	url = https://github.com/SymbiFlow/make-env.git
[submodule "third_party/xc-fasm"]
	path = third_party/xc-fasm
	url = https://github.com/SymbiFlow/xc-fasm.git
[submodule "third_party/symbiflow-xc-fasm2bels"]
	path = third_party/symbiflow-xc-fasm2bels
	url = https://github.com/SymbiFlow/symbiflow-xc-fasm2bels.git
[submodule "third_party/ibex"]
	path = third_party/ibex
	url = https://github.com/lowRISC/ibex
