# Makefile generated dependency information.
.d
.merged

rr_graph*.xml
*.pdf
*.log

tests/build

third_party

unused

# Simulation output
sim.dot
sim.json
sim.png
sim.ps
sim.svg

artix7/arch/xc7a50t-roi-virt/dummy/*.xml
sim_clean.v
