[submodule "third_party/netlistsvg"]
	path = third_party/netlistsvg
	url = https://github.com/nturley/netlistsvg.git
[submodule "third_party/prjxray-db"]
	path = third_party/prjxray-db
	url = https://github.com/SymbiFlow/prjxray-db.git
[submodule "third_party/icestorm"]
	path = third_party/icestorm
	url = https://github.com/cliffordwolf/icestorm.git
