[submodule "third_party/netlistsvg"]
	path = third_party/netlistsvg
	url = https://github.com/nturley/netlistsvg.git
[submodule "third_party/prjxray"]
	path = third_party/prjxray
	url = https://github.com/SymbiFlow/prjxray.git
[submodule "third_party/icestorm"]
	path = third_party/icestorm
	url = https://github.com/cliffordwolf/icestorm.git
[submodule "third_party/fasm"]
	path = third_party/fasm
	url = https://github.com/SymbiFlow/fasm.git
[submodule "third_party/symbiyosys"]
	path = third_party/symbiyosys
	url = https://github.com/YosysHQ/SymbiYosys.git
[submodule "third_party/python-sdf-timing"]
	path = third_party/python-sdf-timing
	url = https://github.com/SymbiFlow/python-sdf-timing.git
[submodule "third_party/vtr-xml-utils"]
	path = third_party/vtr-xml-utils
	url = https://github.com/SymbiFlow/vtr-xml-utils.git
[submodule "python-symbiflow-v2x"]
	path = third_party/python-symbiflow-v2x
	url = https://github.com/SymbiFlow/python-symbiflow-v2x.git
[submodule "third_party/make-env"]
	path = third_party/make-env
	url = https://github.com/SymbiFlow/make-env.git
[submodule "third_party/xc-fasm"]
	path = third_party/xc-fasm
	url = https://github.com/SymbiFlow/xc-fasm.git
[submodule "third_party/symbiflow-xc-fasm2bels"]
	path = third_party/symbiflow-xc-fasm2bels
	url = https://github.com/SymbiFlow/symbiflow-xc-fasm2bels.git
[submodule "third_party/ibex"]
	path = third_party/ibex
	url = https://github.com/lowRISC/ibex
[submodule "third_party/prjuray"]
	path = third_party/prjuray
	url = https://github.com/SymbiFlow/prjuray.git
[submodule "third_party/litedram"]
	path = third_party/litedram
	url = https://github.com/enjoy-digital/litedram
[submodule "third_party/litex"]
	path = third_party/litex
	url = https://github.com/enjoy-digital/litex
[submodule "third_party/liteeth"]
	path = third_party/liteeth
	url = https://github.com/enjoy-digital/liteeth
[submodule "third_party/migen"]
	path = third_party/migen
	url = https://github.com/m-labs/migen
[submodule "third_party/pythondata-cpu-vexriscv"]
	path = third_party/pythondata-cpu-vexriscv
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv
[submodule "third_party/liteiclink"]
	path = third_party/liteiclink
	url = https://github.com/enjoy-digital/liteiclink
[submodule "third_party/litex-boards"]
	path = third_party/litex-boards
	url = https://github.com/litex-hub/litex-boards
[submodule "third_party/pythondata-software-compiler_rt"]
	path = third_party/pythondata-software-compiler_rt
	url = https://github.com/litex-hub/pythondata-software-compiler_rt
[submodule "third_party/qlfpga-symbiflow-plugins"]
	path = third_party/qlfpga-symbiflow-plugins
	url = https://github.com/QuickLogic-Corp/qlfpga-symbiflow-plugins.git
[submodule "third_party/qlf-fasm"]
	path = third_party/qlf-fasm
	url = https://github.com/QuickLogic-Corp/ql_fasm.git
