cairosvg
gitpython
hilbertcurve
intervaltree
matplotlib
numpy
pdfminer.six
ply
progressbar2
pycapnp==1.0.0b1
pyjson5
pytest
python-constraint
pyyaml
scipy
simplejson
svgwrite
termcolor
textx
tinyfpgab
tinyprog
yapf==0.26.0
-e third_party/fasm
-e third_party/xc-fasm
-e third_party/python-sdf-timing
-e third_party/python-symbiflow-v2x
-e third_party/vtr-xml-utils
-e third_party/symbiflow-xc-fasm2bels
-e third_party/litex
-e third_party/litex-boards
-e third_party/litedram
-e third_party/liteeth
-e third_party/liteiclink
-e third_party/migen
-e third_party/pythondata-cpu-vexriscv
-e third_party/pythondata-software-compiler_rt
-e quicklogic/common/utils/quicklogic-timings-importer
-e quicklogic/common/utils/fasm-utils
-e quicklogic/common/utils/quicklogic-fasm
