cairosvg
gitpython
hilbertcurve==1.0.5
intervaltree
matplotlib
numpy
pdfminer.six
ply
progressbar2
pycapnp==1.0.0b1
pyjson5
pytest
python-constraint
pyyaml
scipy
simplejson
svgwrite
textx
tinyfpgab
tinyprog
yapf==0.26.0
fasm
git+https://github.com/SymbiFlow/symbiflow-rr-graph.git#egg=rr-graph
git+https://github.com/SymbiFlow/python-fpga-interchange.git#egg=python-fpga-interchange
-e third_party/prjxray
-e third_party/xc-fasm
-e third_party/qlf-fasm
-e third_party/python-sdf-timing
-e third_party/python-symbiflow-v2x
-e third_party/vtr-xml-utils
-e third_party/symbiflow-xc-fasm2bels
-e third_party/litex
-e third_party/litex-boards
-e third_party/litedram
-e third_party/liteeth
-e third_party/liteiclink
-e third_party/migen
third_party/pythondata-cpu-vexriscv
third_party/pythondata-software-compiler_rt
# Ibex dependencies
git+https://github.com/lowRISC/edalize.git@ot
git+https://github.com/lowRISC/fusesoc.git@ot
mako
