set_io i_clk  W5
set_io i_clkb W7

set_io i_rst  R3
set_io i_ce   T3
set_io o_q1   T1
set_io o_q2   U1

set_io io[0]  G18
set_io io[1]  F18
#set_io io[2]  E18 # Cannot use E18 as it is the PUDC_B site
set_io io[2]  E19
set_io io[3]  H19
set_io io[4]  G19
set_io io[5]  H17
set_io io[6]  G17
set_io io[7]  K19
set_io io[8]  J19
set_io io[9]  J17
set_io io[10] J18
set_io io[11] L18
set_io io[12] K18
set_io io[13] N18
set_io io[14] N19
set_io io[15] P19
set_io io[16] R19
set_io io[17] M18
set_io io[18] M19
set_io io[19] L17
set_io io[20] K17
set_io io[21] N17
set_io io[22] P17
set_io io[23] P18
set_io io[24] R18
set_io io[25] U19
set_io io[26] V19
set_io io[27] W18
set_io io[28] W19
set_io io[29] T17
set_io io[30] T18
set_io io[31] U17
set_io io[32] U18
set_io io[33] V16
set_io io[34] V17
set_io io[35] W16
#set_io io[36] W17
#set_io io[37] V15
#set_io io[38] W15
#set_io io[39] W13
#set_io io[40] W14
#set_io io[41] U15
#set_io io[42] U16
#set_io io[43] V13
#set_io io[44] V14
#set_io io[45] U14

