set_io i_clk  W5
set_io i_clkb W7

set_io i_rst  R2
set_io i_ce   T2
set_io o_q1   R3
set_io o_q2   T3

set_io io[0]  D17
set_io io[1]  D18
set_io io[2]  D19
set_io io[3]  G18
set_io io[4]  F18
#set_io io[5]  E18 # Cannot use E18 as it is the PUDC_B site
set_io io[5]  E19
set_io io[6]  H19
set_io io[7]  G19
set_io io[8]  H17
set_io io[9]  G17
set_io io[10] K19
set_io io[11] J19
set_io io[12] J17
set_io io[13] J18
set_io io[14] L18
set_io io[15] K18
set_io io[16] N18
set_io io[17] N19
set_io io[18] P19
set_io io[19] R19
set_io io[20] M18
set_io io[21] M19
set_io io[22] L17
set_io io[23] K17
set_io io[24] N17
set_io io[25] P17
set_io io[26] P18
set_io io[27] R18
set_io io[28] U19
set_io io[29] V19
set_io io[30] W18
set_io io[31] W19
set_io io[32] T17
set_io io[33] T18
set_io io[34] U17
set_io io[35] U18
#set_io io[36] V16
#set_io io[37] V17
#set_io io[38] W16
#set_io io[39] W17
#set_io io[40] V15
#set_io io[41] W15
#set_io io[42] W13
#set_io io[43] W14
#set_io io[44] U15
#set_io io[45] U16
#set_io io[46] V13
#set_io io[47] V14
#set_io io[48] U14

