set_io clk A3
set_io enable C1
set_io reset A1

set_io count[0] A2
set_io count[1] B2
set_io count[2] C3
set_io count[3] B3
set_io count[4] B1
set_io count[5] C4
set_io count[6] B4
set_io count[7] A4
set_io count[8] C5
set_io count[9] B5
set_io count[10] D6
set_io count[11] A5
set_io count[12] C6
set_io count[13] E7
set_io count[14] D7
set_io count[15] E8
