set_io clk B1
set_io clrn C1

set_io x(0) A1
set_io x(1) A2
set_io x(2) B2
set_io x(3) C3

set_io k(0) B3
set_io k(1) A3
set_io k(2) C4
set_io k(3) B4

set_io error(0) A4
set_io error(1) C5
set_io error(2) B5
set_io error(3) D6

set_io enable A5
set_io valid C6
set_io with_error E7

