set_io sel[0]  user_IN_B[10]
set_io sel[1]  user_IN_B[11]
set_io t  user_IN_B[12]

set_io clk[0] user_IN_B[0]
set_io clk[1] user_IN_B[1]
set_io clk[2] user_IN_B[2]
set_io clk[3] user_IN_B[3]
set_io clk[4] user_IN_B[4]
set_io clk[5] user_IN_B[5]

set_io mux_out[0] user_OUT_B[0]
set_io mux_out[1] user_OUT_B[1]
set_io mux_out[2] user_OUT_B[2]
set_io mux_out[3] user_OUT_B[3]
set_io mux_out[4] user_OUT_B[4]
set_io mux_out[5] user_OUT_B[5]
set_io mux_out[6] user_OUT_B[6]
set_io mux_out[7] user_OUT_B[7]
set_io mux_out[8] user_OUT_B[8]
set_io mux_out[9] user_OUT_B[9]
set_io mux_out[10] user_OUT_B[10]
set_io mux_out[11] user_OUT_B[11]
set_io mux_out[12] user_OUT_B[12]
set_io mux_out[13] user_OUT_B[13]
set_io mux_out[14] user_OUT_B[14]
set_io mux_out[15] user_OUT_B[15]
