set_io a[0]  user_IN_B[10]
set_io b[0]  user_IN_B[11]

set_io out[0] user_OUT_R[0]
set_io out[1] user_OUT_R[1]
set_io out[2] user_OUT_R[2]
set_io out[3] user_OUT_R[3]
set_io out[4] user_OUT_R[4]
set_io out[5] user_OUT_R[5]
set_io out[6] user_OUT_R[6]
set_io out[7] user_OUT_R[7]
set_io out[8] user_OUT_R[8]
set_io out[9] user_OUT_R[9]
set_io out[10] user_OUT_R[10]
set_io out[11] user_OUT_R[11]
set_io out[12] user_OUT_R[12]
set_io out[13] user_OUT_R[13]
set_io out[14] user_OUT_R[14]
set_io out[15] user_OUT_R[15]
set_io out[16] user_OUT_R[16]
set_io out[17] user_OUT_R[17]
set_io out[18] user_OUT_R[18]
set_io out[19] user_OUT_R[19]
set_io out[20] user_OUT_R[20]
set_io out[21] user_OUT_R[21]
set_io out[22] user_OUT_R[22]
set_io out[23] user_OUT_R[23]
set_io out[24] user_OUT_R[24]
set_io out[25] user_OUT_R[25]
set_io out[26] user_OUT_R[26]
set_io out[27] user_OUT_R[27]
set_io out[28] user_OUT_R[28]
set_io out[29] user_OUT_R[29]
set_io out[30] user_OUT_R[30]
set_io out[31] user_OUT_R[31]
set_io out[32] user_OUT_R[32]
set_io out[33] user_OUT_R[33]
set_io out[34] user_OUT_R[34]
set_io out[35] user_OUT_R[35]
set_io out[36] user_OUT_R[36]
set_io out[37] user_OUT_R[37]
set_io out[38] user_OUT_R[38]
set_io out[39] user_OUT_R[39]
set_io out[40] user_OUT_R[40]
