set_io GPIO_PIN(31) FBIO_31
set_io GPIO_PIN(30) FBIO_30
set_io GPIO_PIN(29) FBIO_29
set_io GPIO_PIN(28) FBIO_28
set_io GPIO_PIN(27) FBIO_27
set_io GPIO_PIN(26) FBIO_26
set_io GPIO_PIN(25) FBIO_25
set_io GPIO_PIN(24) FBIO_24
set_io GPIO_PIN(23) FBIO_23
set_io GPIO_PIN(22) FBIO_22
set_io GPIO_PIN(21) FBIO_21
set_io GPIO_PIN(20) FBIO_20
set_io GPIO_PIN(19) FBIO_19
set_io GPIO_PIN(18) FBIO_18
set_io GPIO_PIN(17) FBIO_17
set_io GPIO_PIN(16) FBIO_16
set_io GPIO_PIN(15) FBIO_15
set_io GPIO_PIN(14) FBIO_14
set_io GPIO_PIN(13) FBIO_13
set_io GPIO_PIN(12) FBIO_12
set_io GPIO_PIN(11) FBIO_11
set_io GPIO_PIN(10) FBIO_10
set_io GPIO_PIN(9) FBIO_9
set_io GPIO_PIN(8) FBIO_8
set_io GPIO_PIN(7) FBIO_7
set_io GPIO_PIN(6) FBIO_6
set_io GPIO_PIN(5) FBIO_5
set_io GPIO_PIN(4) FBIO_4
set_io GPIO_PIN(3) FBIO_3
set_io GPIO_PIN(2) FBIO_2
set_io GPIO_PIN(1) FBIO_1
set_io GPIO_PIN(0) FBIO_0
set_io GPIO_PIN(45) SFBIO_13
set_io GPIO_PIN(44) SFBIO_12
set_io GPIO_PIN(43) SFBIO_11
set_io GPIO_PIN(42) SFBIO_10
set_io GPIO_PIN(41) SFBIO_9
set_io GPIO_PIN(40) SFBIO_8
set_io GPIO_PIN(39) SFBIO_7
set_io GPIO_PIN(38) SFBIO_6
set_io GPIO_PIN(37) SFBIO_5
set_io GPIO_PIN(36) SFBIO_4
set_io GPIO_PIN(35) SFBIO_3
set_io GPIO_PIN(34) SFBIO_2
set_io GPIO_PIN(33) SFBIO_1
set_io GPIO_PIN(32) SFBIO_0