set_io clk        A3
set_io rst        C4
set_io ena        A1
set_io dstrb      A2

set_io din(0)     B2
set_io din(1)     C3
set_io din(2)     B3
set_io din(3)     B1
set_io din(4)     C1
set_io din(5)     B4
set_io din(6)     A4
set_io din(7)     C5
set_io din(8)     B5
set_io din(9)     D6
set_io din(10)    A5
set_io din(11)    C6

set_io qnt_val(0)     E7
set_io qnt_val(1)     D7
set_io qnt_val(2)     E8
set_io qnt_val(3)     H8
set_io qnt_val(4)     G8
set_io qnt_val(5)     H7
set_io qnt_val(6)     G7
set_io qnt_val(7)     H6

set_io qnt_cnt(0)     G6
set_io qnt_cnt(1)     F7
set_io qnt_cnt(2)     F6
set_io qnt_cnt(3)     H5
set_io qnt_cnt(4)     G5
set_io qnt_cnt(5)     F5

set_io douten        F4

set_io dout(0)     H4
set_io dout(1)     E3
set_io dout(2)     F3
set_io dout(3)     F2
set_io dout(4)     H3
set_io dout(5)     G2
set_io dout(6)     E2
set_io dout(7)     H2
set_io dout(8)     D2
set_io dout(9)     F1
set_io dout(10)    H1

