set_io sys_rst_n   FBIO_0
set_io pixelclk    FBIO_1
set_io frame_valid FBIO_2
set_io line_valid  FBIO_3
set_io gpmc_clk    FBIO_4
set_io gpmc_csn    FBIO_5
set_io gpmc_oen    FBIO_6
set_io gpmc_wen    FBIO_7
set_io gpmc_advn   FBIO_8
set_io gpmc_intr   FBIO_9

set_io apt_din(0)  FBIO_10
set_io apt_din(1)  FBIO_11
set_io apt_din(2)  FBIO_12
set_io apt_din(3)  FBIO_13
set_io apt_din(4)  FBIO_14
set_io apt_din(5)  FBIO_15
set_io apt_din(6)  FBIO_16
set_io apt_din(7)  FBIO_17
set_io apt_din(8)  FBIO_18
set_io apt_din(9)  FBIO_19

set_io gpmc_ad(0)   FBIO_20
set_io gpmc_ad(1)   FBIO_21
set_io gpmc_ad(2)   FBIO_22
set_io gpmc_ad(3)   FBIO_23
set_io gpmc_ad(4)   FBIO_24
set_io gpmc_ad(5)   FBIO_25
set_io gpmc_ad(6)   FBIO_26
set_io gpmc_ad(7)   FBIO_27
set_io gpmc_ad(8)   FBIO_28
set_io gpmc_ad(9)   FBIO_29
set_io gpmc_ad(10)  FBIO_30
set_io gpmc_ad(11)  FBIO_31
set_io gpmc_ad(12)  SFBIO_0
set_io gpmc_ad(13)  SFBIO_1
set_io gpmc_ad(14)  SFBIO_2
set_io gpmc_ad(15)  SFBIO_3
