set_io clk        B1
set_io reset      C1
set_io start      A1
set_io din[0]     A2
set_io din[1]     B2
set_io din[2]     C3
set_io din[3]     B3
set_io din[4]     A3
set_io din[5]     C4
set_io din[6]     B4
set_io din[7]     A4

set_io dout[0]     C5
set_io dout[1]     B5
set_io dout[2]     D6
set_io dout[3]     A5
set_io dout[4]     C6
set_io dout[5]     E7
set_io dout[6]     D7
set_io dout[7]     E8

set_io params[0]     H8
set_io params[1]     G8
set_io params[2]     H7
set_io params[3]     G7
set_io params[4]     H6
set_io params[5]     G6
set_io params[6]     F7
set_io params[7]     F6
set_io params[8]     H5
set_io params[9]     G5
set_io params[10]    G2
set_io params[11]    F5
set_io params[12]    F4
set_io params[13]    G4
set_io params[14]    H4
set_io params[15]    E3

set_io ready         F3
set_io iir_start     F2
set_io iir_done      H3
