set_io srcCy B1
set_io srcAc C1

set_io bit_in A1
set_io desCy A2

set_io desAc B2
set_io src1[0] C3
set_io src1[1] B3
set_io src1[2] A3
set_io src1[3] C4
set_io src1[4] B4
set_io src1[5] A4
set_io src1[6] C5
set_io src1[7] B5
set_io desOv H1
set_io op_code[0] A5
set_io op_code[1] C6
set_io op_code[2] E7
set_io op_code[3] D6

set_io src2[0] D7
set_io src2[1] E8
set_io src2[2] H8
set_io src2[3] G8
set_io src2[4] H7
set_io src2[5] G7
set_io src2[6] H6
set_io src2[7] G6

set_io des2[0] F7
set_io des2[1] F6
set_io des2[2] H5
set_io des2[3] G5
set_io des2[4] F5
set_io des2[5] F4
set_io des2[6] D2
set_io des2[7] F1

set_io des1[0] H4
set_io des1[1] E3
set_io des1[2] F3
set_io des1[3] F2
set_io des1[4] H3
set_io des1[5] G2
set_io des1[6] E2
set_io des1[7] H2
