set_io dat_a[0]   B1
set_io dat_a[1]   C1
set_io dat_a[2]   A1
set_io dat_a[3]   A2
set_io dat_a[4]   B2
set_io dat_a[5]   C3
set_io dat_a[6]   B3
set_io dat_a[7]   A3

set_io dat_b[0]   C4
set_io dat_b[1]   B4
set_io dat_b[2]   A4
set_io dat_b[3]   C5
set_io dat_b[4]   B5
set_io dat_b[5]   D6
set_io dat_b[6]   A5
set_io dat_b[7]   C6

set_io dat_o[0]   E7
set_io dat_o[1]   D7
set_io dat_o[2]   E8
set_io dat_o[3]   H8
set_io dat_o[4]   G8
set_io dat_o[5]   H7
set_io dat_o[6]   G7
set_io dat_o[7]   H6
set_io dat_o[8]   G6
set_io dat_o[9]   F7
set_io dat_o[10]  F6
set_io dat_o[11]  H5
set_io dat_o[12]  G5
set_io dat_o[13]  F5
set_io dat_o[14]  F4
set_io dat_o[15]  G4

