# in[7:0] corresponds to {BTN3-0, SW3-0} in arty
set_io in[0] A8
set_io in[1] C11
set_io in[2] C10
set_io in[3] A10
set_io in[4] D9
set_io in[5] C9
set_io in[6] B9
set_io in[7] B8

# out[7:0] corresponds to {LD7-0} in arty.
# only green components of RGB leds
set_io out[0] F6
set_io out[1] J4
set_io out[2] J2
set_io out[3] H6
set_io out[4] H5
set_io out[5] J5
set_io out[6] T9
set_io out[7] T10
