set_io dat_a(0)   FBIO_0
set_io dat_a(1)   FBIO_1
set_io dat_a(2)   FBIO_2
set_io dat_a(3)   FBIO_3
set_io dat_a(4)   FBIO_4
set_io dat_a(5)   FBIO_5
set_io dat_a(6)   FBIO_6
set_io dat_a(7)   FBIO_7

set_io dat_b(0)   FBIO_8
set_io dat_b(1)   FBIO_9
set_io dat_b(2)   FBIO_10
set_io dat_b(3)   FBIO_11
set_io dat_b(4)   FBIO_12
set_io dat_b(5)   FBIO_13
set_io dat_b(6)   FBIO_14
set_io dat_b(7)   FBIO_15

set_io dat_o(0)   FBIO_16
set_io dat_o(1)   FBIO_17
set_io dat_o(2)   FBIO_18
set_io dat_o(3)   FBIO_19
set_io dat_o(4)   FBIO_20
set_io dat_o(5)   FBIO_21
set_io dat_o(6)   FBIO_22
set_io dat_o(7)   FBIO_23
set_io dat_o(8)   FBIO_24
set_io dat_o(9)   FBIO_25
set_io dat_o(10)  FBIO_26
set_io dat_o(11)  FBIO_27
set_io dat_o(12)  FBIO_28
set_io dat_o(13)  FBIO_29
set_io dat_o(14)  FBIO_30
set_io dat_o(15)  FBIO_31

