# Format: //devtools/kokoro/config/proto/build.proto

build_file: "symbiflow-arch-defs-presubmit-tests/.github/kokoro/tests.sh"

timeout_mins: 4320

action {
  define_artifacts {
    # File types
    regex: "**/*result*.xml"
    regex: "**/*sponge_log.xml"
    strip_prefix: "github/symbiflow-arch-defs-presubmit-tests/"
  }
}

env_vars {
  key: "KOKORO_TYPE"
  value: "presubmit"
}

env_vars {
  key: "KOKORO_DIR"
  value: "symbiflow-arch-defs-presubmit-tests"
}

env_vars {
  key: "SYMBIFLOW_ARCH"
  value: "tests"
}
