set_io GPIO_PIN[22] C3
set_io GPIO_PIN[21] A1
set_io GPIO_PIN[20] D2
set_io GPIO_PIN[19] B5
set_io GPIO_PIN[18] H1
set_io GPIO_PIN[17] H5
set_io GPIO_PIN[16] F6
set_io GPIO_PIN[15] E7
set_io GPIO_PIN[14] G7
set_io GPIO_PIN[13] H7
set_io GPIO_PIN[12] G8
set_io GPIO_PIN[11] H6
set_io GPIO_PIN[10] E8
set_io GPIO_PIN[9] D7
set_io GPIO_PIN[8] A4
set_io GPIO_PIN[7] D6
set_io GPIO_PIN[6] B4
set_io GPIO_PIN[5] F1
set_io GPIO_PIN[4] C4
set_io GPIO_PIN[3] D1
set_io GPIO_PIN[2] H8
set_io GPIO_PIN[1] C5
set_io GPIO_PIN[0] A2
set_io SIN G1
set_io SOUT E1
set_io I2C_SDA A3
set_io I2C_SCL B3
set_io I2C_SCL_SEN F5
set_io I2C_SDA_SEN G5
set_io CLK_4MHZ_OUT F4
set_io CLK_1MHZ_OUT G4
