set_io GPIO_PIN[22] FBIO_5
set_io GPIO_PIN[21] FBIO_2
set_io GPIO_PIN[20] SFBIO_8
set_io GPIO_PIN[19] FBIO_12
set_io GPIO_PIN[18] SFBIO_10
set_io GPIO_PIN[17] FBIO_27
set_io GPIO_PIN[16] FBIO_26
set_io GPIO_PIN[15] FBIO_16
set_io GPIO_PIN[14] FBIO_22
set_io GPIO_PIN[13] FBIO_21
set_io GPIO_PIN[12] FBIO_20
set_io GPIO_PIN[11] FBIO_23
set_io GPIO_PIN[10] FBIO_18
set_io GPIO_PIN[9] FBIO_17
set_io GPIO_PIN[8] FBIO_10
set_io GPIO_PIN[7] FBIO_13
set_io GPIO_PIN[6] FBIO_9
set_io GPIO_PIN[5] SFBIO_9
set_io GPIO_PIN[4] FBIO_8
set_io GPIO_PIN[3] SFBIO_11
set_io GPIO_PIN[2] FBIO_19
set_io GPIO_PIN[1] FBIO_11
set_io GPIO_PIN[0] FBIO_3
set_io SIN SFBIO_13
set_io SOUT SFBIO_12
set_io I2C_SDA FBIO_7
set_io I2C_SCL FBIO_6
set_io I2C_SCL_SEN FBIO_29
set_io I2C_SDA_SEN FBIO_28
set_io CLK_4MHZ_OUT FBIO_30
set_io CLK_1MHZ_OUT FBIO_31