set_io a_in[0] E2
set_io a_in[1] G6
set_io a_in[2] G2
set_io a_in[3] H5
set_io a_in[4] A4
set_io a_in[5] F6
set_io a_in[6] G8
set_io a_in[7] F4
set_io b_in[0] G5
set_io b_in[1] F3
set_io b_in[2] E3
set_io b_in[3] D6
set_io b_in[4] H1
set_io b_in[5] B4
set_io b_in[6] F2
set_io b_in[7] F1
set_io prod[0] B2
set_io prod[10] A5
set_io prod[11] H8
set_io prod[12] H6
set_io prod[13] H7
set_io prod[14] F5
set_io prod[15] D7
set_io prod[1] E1
set_io prod[2] A3
set_io prod[3] F7
set_io prod[4] C4
set_io prod[5] C5
set_io prod[6] D2
set_io prod[7] A2
set_io prod[8] H3
set_io prod[9] G7
