set_io sys_rst_n   A3
set_io pixelclk    C4
set_io frame_valid A1
set_io line_valid  A2
set_io gpmc_clk    G7
set_io gpmc_csn    C3
set_io gpmc_oen    B3
set_io gpmc_wen    B1
set_io gpmc_advn   C1
set_io gpmc_intr   B4

set_io apt_din[0]  A4
set_io apt_din[1]  C5
set_io apt_din[2]  B5
set_io apt_din[3]  D6
set_io apt_din[4]  A5
set_io apt_din[5]  C6
set_io apt_din[6]  E7
set_io apt_din[7]  D7
set_io apt_din[8]  E8
set_io apt_din[9]  H8

set_io gpmc_ad[0]   G8
set_io gpmc_ad[1]   H7
set_io gpmc_ad[2]   B2
set_io gpmc_ad[3]   H6
set_io gpmc_ad[4]   G6
set_io gpmc_ad[5]   F7
set_io gpmc_ad[6]   F6
set_io gpmc_ad[7]   H5
set_io gpmc_ad[8]   G5
set_io gpmc_ad[9]   F5
set_io gpmc_ad[10]  F4
set_io gpmc_ad[11]  G4
set_io gpmc_ad[12]  H4
set_io gpmc_ad[13]  E3
set_io gpmc_ad[14]  F3
set_io gpmc_ad[15]  F2
