set_io clk        FBIO_0
set_io rst        FBIO_1
set_io ena        FBIO_2
set_io dstrb      FBIO_3

set_io din(0)     FBIO_4
set_io din(1)     FBIO_5
set_io din(2)     FBIO_6
set_io din(3)     FBIO_7
set_io din(4)     FBIO_8
set_io din(5)     FBIO_9
set_io din(6)     FBIO_10
set_io din(7)     FBIO_11
set_io din(8)     FBIO_12
set_io din(9)     FBIO_13
set_io din(10)    FBIO_14
set_io din(11)    FBIO_15

set_io qnt_val(0)     FBIO_16
set_io qnt_val(1)     FBIO_17
set_io qnt_val(2)     FBIO_18
set_io qnt_val(3)     FBIO_19
set_io qnt_val(4)     FBIO_20
set_io qnt_val(5)     FBIO_21
set_io qnt_val(6)     FBIO_22
set_io qnt_val(7)     FBIO_23

set_io qnt_cnt(0)     FBIO_24
set_io qnt_cnt(1)     FBIO_25
set_io qnt_cnt(2)     FBIO_26
set_io qnt_cnt(3)     FBIO_27
set_io qnt_cnt(4)     FBIO_28
set_io qnt_cnt(5)     FBIO_29

set_io dout_en        FBIO_30

set_io dout(0)     SFBIO_0
set_io dout(1)     SFBIO_1
set_io dout(2)     SFBIO_2
set_io dout(3)     SFBIO_3
set_io dout(4)     SFBIO_4
set_io dout(5)     SFBIO_5
set_io dout(6)     SFBIO_6
set_io dout(7)     SFBIO_7
set_io dout(8)     SFBIO_8
set_io dout(9)     SFBIO_9
set_io dout(10)    SFBIO_10

