set_io x0(0)    B1
set_io x0(1)    C1

set_io y0(0)    A1
set_io y0(1)    A2

set_io A0(0)    B2
set_io A0(1)    C3

set_io valid(0) B3
set_io valid(1) A3

set_io x1(0)    C4
set_io x1(1)    B4

set_io y1(0)    A4
set_io y1(1)    C5
