set_io serial_tx AA19
set_io serial_rx V18
set_io cpu_reset G4
set_io clk100 R4
set_io ddram_a[0] M2
set_io ddram_a[1] M5
set_io ddram_a[2] M3
set_io ddram_a[3] M1
set_io ddram_a[4] L6
set_io ddram_a[5] P1
set_io ddram_a[6] N3
set_io ddram_a[7] N2
set_io ddram_a[8] M6
set_io ddram_a[9] R1
set_io ddram_a[10] L5
set_io ddram_a[11] N5
set_io ddram_a[12] N4
set_io ddram_a[13] P2
set_io ddram_a[14] P6
set_io ddram_ba[0] L3
set_io ddram_ba[1] K6
set_io ddram_ba[2] L4
set_io ddram_ras_n J4
set_io ddram_cas_n K3
set_io ddram_we_n L1
set_io ddram_dm[0] G3
set_io ddram_dm[1] F1
set_io ddram_dq[0] G2
set_io ddram_dq[1] H4
set_io ddram_dq[2] H5
set_io ddram_dq[3] J1
set_io ddram_dq[4] K1
set_io ddram_dq[5] H3
set_io ddram_dq[6] H2
set_io ddram_dq[7] J5
set_io ddram_dq[8] E3
set_io ddram_dq[9] B2
set_io ddram_dq[10] F3
set_io ddram_dq[11] D2
set_io ddram_dq[12] C2
set_io ddram_dq[13] A1
set_io ddram_dq[14] E2
set_io ddram_dq[15] B1
set_io ddram_dqs_p[0] K2
set_io ddram_dqs_p[1] E1
set_io ddram_dqs_n[0] J2
set_io ddram_dqs_n[1] D1
set_io ddram_clk_p P5
set_io ddram_clk_n P4
set_io ddram_cke J6
set_io ddram_odt K4
set_io ddram_reset_n G1

# LEDs
set_io led[0] T14
set_io led[1] T15
set_io led[2] T16
set_io led[3] U16

