set_io cout  user_OUT_B[35]

set_io sum[0]  user_OUT_B[0]
set_io sum[1]  user_OUT_B[1]
set_io sum[2]  user_OUT_B[2]
set_io sum[3]  user_OUT_B[3]
set_io sum[4]  user_OUT_B[4]
set_io sum[5]  user_OUT_B[5]
set_io sum[6]  user_OUT_B[6]
set_io sum[7]  user_OUT_B[7]

set_io a[0]  user_IN_B[10]
set_io a[1]  user_IN_B[11]
set_io a[2]  user_IN_B[12]
set_io a[3]  user_IN_B[13]
set_io a[4]  user_IN_B[14]
set_io a[5]  user_IN_B[15]
set_io a[6]  user_IN_B[16]
set_io a[7]  user_IN_B[17]

set_io b[0]  user_IN_B[20]
set_io b[1]  user_IN_B[21]
set_io b[2]  user_IN_B[22]
set_io b[3]  user_IN_B[23]
set_io b[4]  user_IN_B[24]
set_io b[5]  user_IN_B[25]
set_io b[6]  user_IN_B[26]
set_io b[7]  user_IN_B[27]

set_io cin  user_IN_B[5]
