
# Pinout for the basys3 Breakout Board
# FIXME: These pindefs are random for placement.

set_io clk W5

set_io ser_tx A18
set_io ser_rx B18

set_io leds[0] U16
set_io leds[1] E19
set_io leds[2] U19
set_io leds[3] V19

