set_io wb_clk_i FBIO_0
set_io wb_rst_i FBIO_1

set_io arst_i FBIO_2
set_io wb_stb_i FBIO_3

set_io wb_cyc_i FBIO_4
set_io wb_dat_i(0) FBIO_5
set_io wb_dat_i(1) FBIO_6
set_io wb_dat_i(2) FBIO_7
set_io wb_dat_i(3) FBIO_8
set_io wb_dat_i(4) FBIO_9
set_io wb_dat_i(5) FBIO_10
set_io wb_dat_i(6) FBIO_11
set_io wb_dat_i(7) FBIO_12
set_io wb_adr_i(0) FBIO_13
set_io wb_adr_i(1) FBIO_14
set_io wb_adr_i(2) FBIO_15
set_io wb_we_i FBIO_16

set_io wb_dat_o(0) FBIO_17
set_io wb_dat_o(1) FBIO_18
set_io wb_dat_o(2) FBIO_19
set_io wb_dat_o(3) FBIO_20
set_io wb_dat_o(4) FBIO_21
set_io wb_dat_o(5) FBIO_22
set_io wb_dat_o(6) FBIO_23
set_io wb_dat_o(7) FBIO_24

set_io wb_ack_o FBIO_25
set_io wb_inta_o FBIO_26
set_io TIP_o FBIO_27
set_io test_mode_en FBIO_28

set_io MISO_i SFBIO_0
set_io MOSI_i SFBIO_1
set_io MOSI_o SFBIO_2
set_io MOSI_OEn_o SFBIO_3
set_io SCLK_o SFBIO_4
set_io SSn0_o SFBIO_5
set_io SSn1_o SFBIO_6
set_io SSn2_o SFBIO_7
set_io SSn3_o SFBIO_8
set_io SSn4_o SFBIO_9
set_io SSn5_o SFBIO_10
set_io SSn6_o SFBIO_11
set_io SSn7_o SFBIO_12
