set_io clk1 FBIO_0
set_io clk2 FBIO_1
set_io clk3 FBIO_2
set_io reset FBIO_3

set_io out1x(0)  FBIO_4
set_io out1x(1)  FBIO_5
set_io out1x(2)  FBIO_6
set_io out1x(3)  FBIO_7
set_io out1x(4)  FBIO_8
set_io out1x(5)  FBIO_9
set_io out1x(6)  FBIO_10
set_io out1x(7)  FBIO_11
set_io out1x(8)  FBIO_12
set_io out1x(9)  FBIO_13
set_io out1x(10) FBIO_14
set_io out1x(11) FBIO_15
set_io out1x(12) FBIO_16
set_io out1x(13) FBIO_17

set_io out2x(0)  FBIO_18
set_io out2x(1)  FBIO_19
set_io out2x(2)  FBIO_20
set_io out2x(3)  FBIO_21
set_io out2x(4)  FBIO_22
set_io out2x(5)  FBIO_23
set_io out2x(6)  FBIO_24
set_io out2x(7)  FBIO_25
set_io out2x(8)  FBIO_26
set_io out2x(9)  FBIO_27
set_io out2x(10) FBIO_28
set_io out2x(11) FBIO_29
set_io out2x(12) FBIO_30
set_io out2x(13) FBIO_31

set_io out3x(0)  SFBIO_0
set_io out3x(1)  SFBIO_1
set_io out3x(2)  SFBIO_2
set_io out3x(3)  SFBIO_3
set_io out3x(4)  SFBIO_4
set_io out3x(5)  SFBIO_5
set_io out3x(6)  SFBIO_6
set_io out3x(7)  SFBIO_7
set_io out3x(8)  SFBIO_8
set_io out3x(9)  SFBIO_9
set_io out3x(10) SFBIO_10
set_io out3x(11) SFBIO_11
set_io out3x(12) SFBIO_12
set_io out3x(13) SFBIO_13
