set_io clk(0) FBIO_0
set_io clk(1) FBIO_1
set_io clk(2) FBIO_2
set_io clk(3) FBIO_3

set_io clr_n  FBIO_4
set_io t  FBIO_5

set_io sel(0) FBIO_6
set_io sel(1) FBIO_7

set_io mux_out(0) FBIO_9
set_io mux_out(1) FBIO_10
set_io mux_out(2) FBIO_11
set_io mux_out(3) FBIO_12
set_io mux_out(4) FBIO_13
set_io mux_out(5) FBIO_14
set_io mux_out(6) FBIO_15
set_io mux_out(7) FBIO_16
set_io mux_out(8) FBIO_17
set_io mux_out(9) FBIO_18
set_io mux_out(10) FBIO_19
set_io mux_out(11) FBIO_20
set_io mux_out(12) FBIO_21
set_io mux_out(13) FBIO_22
set_io mux_out(14) FBIO_23
set_io mux_out(15) FBIO_24
set_io mux_out(16) FBIO_25
set_io mux_out(17) FBIO_26
set_io mux_out(18) FBIO_27
set_io mux_out(19) FBIO_28

